.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 600px;
  min-height: 100vh;
  margin: 0 auto;

  box-shadow: rgba(100, 100, 100, 0.2) 0px 0px 29px 0px;
  padding: 10px 20px;
}

.container h2 {
  padding-top: 30px;
  text-align: center;
}
.img {
  display: flex;
  justify-content: center;
  padding: 40px;
  margin: 0 auto;
}
.button {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 85%;
  padding-top: 30px;
}
.buttonFont {
  border-radius: 5px;
  background-color: rgb(243, 210, 101);
  color: black;
  outline: none;
  cursor: pointer;
  font-size: 24px;
  line-height: 30px;
  padding: 20px 10px;

  box-shadow: rgba(100, 100, 100, 0.2) 0px 0px 29px 0px;
}
